.MainInfo-topDiv{
  width: 100%;
  height: 550px;
}
.MainInfo-topDiv > header{
  width: 100%;
  height: 70px;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  margin: 0 20px 0 0;
  position: fixed;
  background-color: black;
  opacity: 0.75;
  z-index: 1;
}
.MainInfo-topDiv > header > li{
  list-style-type: none;
  font-size: 25px;
  font-weight: bold;
  margin: 5px 20px;
}
.MainInfo-liEven{ 
  color: white; 
  cursor: pointer;
}
.MainInfo-liOdd{ 
  color: #ebc57c; 
  cursor: pointer;
}
.MainInfo-bgImgDiv{
  height: 480px;
}
.MainInfo-background{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 550px;
  width: 100vw;
  opacity: 0.75;
  z-index: -1;
  filter: grayscale(100%) brightness(40%);
}
.MainInfo-mainTextDiv{
  height: 440px;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  padding-top: 70px;
}
.MainInfo-colorSpan{
  color: #a6c2ce;
}
.MainInfo-whiteSpan{
  color: white;
}




/* ============================================================== */


.flx-row{
  display: flex;
  flex-direction: row;
}
.flx-Clmn{
  display: flex;
  flex-direction: column;
}
.flx-center{
  justify-content: center;
  align-items: center;
}



/* ============================================================== */
@media (max-width: 400px){
  .MainInfo-topDiv > header{
    width: 100%;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    margin: 0 20px 0 0;
    position: fixed;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
  }
  .MainInfo-topDiv > header > li{
    font-size: 0.7rem;
    margin: 5px 20px;
  }
}